---
import { Image } from 'astro:assets'
import bg from '~/assets/background.png'
---

<div>
  <div class="relative overflow-hidden pt-32 pb-96 lg:pt-40">
    <div>
      <Image class="absolute top-0 left-1/2 w-full max-w-none -translate-x-1/2 opacity-60" src={ bg } alt="" />
      <!-- <img  src="https://tailwindui.com/img/component-images/grid-blur-purple-on-black.jpg" alt=""> -->
    </div>
    <div class="relative mx-auto max-w-7xl px-6 text-center lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-4xl">
        <h2 class="text-lg font-semibold leading-8 text-amber-500">Pricing</h2>
        <p class="mt-2 text-4xl text-balance font-semibold tracking-tight text-light-100">Simple <span class="font-serif text-5xl text-amber-500">no-tricks</span> pricing</p>
        <p class="mt-6 text-lg leading-8 text-gray-300">Learngraphy is a freemium app, which means that you can download and use it for free, but you have to pay for some premium features.</p>
      </div>
    </div>
  </div>
  <div class="flow-root pb-32 lg:pb-40">
    <div class="relative -mt-80">
      <div class="relative z-10 mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-md grid-cols-1 gap-8 ">
          <div class="flex flex-col rounded-3xl bg-dark-400">
            <div class="p-8 sm:p-10">
              <h3 class="text-lg font-semibold leading-8 tracking-tight text-amber-500" id="tier-pay-as-you-go">Pay as you go</h3>
              <div class="mt-4 flex items-baseline text-5xl font-semibold tracking-tight text-light-100">
                $4.99
                <span class="text-lg font-semibold leading-8 tracking-normal text-gray-300">/guide</span>
              </div>
              <p class="mt-6 text-base text-balance tracking-wide leading-7 text-gray-400">Pay only for what you need and what you are interested in.</p>
            </div>
            <div class="flex flex-1 flex-col p-2">
              <div class="flex flex-1 flex-col justify-between rounded-2xl bg-dark-200 p-6 sm:p-8">
                <ul role="list" class="space-y-6">
                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <span class="i-tabler-check block wh-6 text-amber-500" />
                    </div>
                    <p class="ml-3 text-sm tracking-wide leading-6 text-gray-300">Personalized learning section</p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <span class="i-tabler-check block wh-6 text-amber-500" />
                    </div>
                    <p class="ml-3 text-sm tracking-wide leading-6 text-gray-300">Invitations to events and skill-sharing sessions</p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <span class="i-tabler-check block wh-6 text-amber-500" />
                    </div>
                    <p class="ml-3 text-sm tracking-wide leading-6 text-gray-300">Collaboration and mentorship capabilities</p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <span class="i-tabler-check block wh-6 text-amber-500" />
                    </div>
                    <p class="ml-3 text-sm tracking-wide leading-6 text-gray-300">Exclusive challenges</p>
                  </li>
                </ul>
                <div class="mt-8">
                  <a href="#" class="inline-block w-full rounded-lg bg-light-100 px-4 py-2 text-center text-sm font-semibold leading-loose text-black hover:bg-light-950" aria-describedby="tier-pay-as-you-go">Get started today</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="relative mx-auto mt-8 max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-md">
        <div class="flex flex-col gap-6 rounded-3xl p-8 ring-1 ring-dark-50/60 bg-dark-900/60 sm:p-10">
          <div class="lg:min-w-0 lg:flex-1">
            <h3 class="text-lg font-semibold leading-8 tracking-tight text-light-100">Discounted</h3>
            <div class="mt-2 text-base text-balance tracking-wide leading-7 text-gray-400">Get access to all features for students and contributing professionals for only <span class="font-semibold text-light-100">$3.99</span> per guide.</div>
          </div>
          <div>
            <a href="#" class="inline-block rounded-lg bg-dark-400 px-4 py-2 text-center text-sm font-semibold leading-loose text-light-100 hover:bg-dark-200">Apply here <span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
