<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-lg font-semibold leading-8 tracking-tight text-amber-500">The problem</h2>
      <p class="mt-2 text-3xl text-balance font-semibold tracking-tight text-light-100 sm:text-4xl">It doesn't work the way they claim</p>
      <p class="mt-6 text-lg tracking-wide leading-8 text-gray-300">Almost everyone these days have a smartphone with a decent looking camera. Unfortunately, the pictures people shot and post in social media are not that great. Have you experienced that the result you get from your phone is always doesn't look the same as Apple or Samsung claim?</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-y-10 gap-x-8 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base text-balance tracking-wide font-semibold leading-7 text-light-100">
            <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-dark-100">
              <span class="i-tabler-heart-broken wh-6 text-light-700" />
            </div>
            <span class="font-serif text-amber-500 text-3xl">80%</span> of people are not satisfied
          </dt>
          <dd class="mt-2 text-base tracking-wide leading-7 text-gray-400">Almost everyone doesn't get the desired result from his smartphone camera</dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base text-balance tracking-wide font-semibold leading-7 text-light-100">
            <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-dark-100">
              <span class="i-tabler-luggage wh-6 text-light-700" />
            </div>
            <span class="font-serif text-amber-500 text-3xl">45%</span> of people think they need gear
          </dt>
          <dd class="mt-2 text-base tracking-wide leading-7 text-gray-400">Almost half of respondents think that without professional gear they won't be able to capture great pictures and film great videos</dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base text-balance tracking-wide font-semibold leading-7 text-light-100">
            <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-dark-100">
              <span class="i-tabler-device-camera-phone wh-6 text-light-700" />
            </div>
            <span class="font-serif text-amber-500 text-3xl">75%</span> of people have a flagship phone with a decent camera system
          </dt>
          <dd class="mt-2 text-base tracking-wide leading-7 text-gray-400">Most of us have a great phones which have advanced camera systems that are capable of shooting on the decent level</dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base text-balance tracking-wide font-semibold leading-7 text-light-100">
            <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-dark-100">
              <span class="i-tabler-mood-happy wh-6 text-light-700" />
            </div>
            <span class="font-serif text-amber-500 text-3xl">95%</span> of people use camera to capture memories
          </dt>
          <dd class="mt-2 text-base tracking-wide leading-7 text-gray-400">Almost all of us use our phone camera to capture moments that will eventually become memories. Why then can't we capture them in the best way possible?</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
