---
import { Image } from 'astro:assets'
import mkbhd from '~/assets/mkbhd.jpg'
---

<div class="py-16 lg:py-24">
  <div class="relative mx-auto max-w-7xl px-6 lg:px-8">
    <div class="relative overflow-hidden rounded-xl bg-true-gray-800 py-24 px-8 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-16">
      <div class="absolute inset-0 opacity-80 mix-blend-multiply saturate-50 filter">
        <Image width="1601.8" height="1068.4" src={ mkbhd } alt="" class="h-full w-full object-cover" />
      </div>
      <div class="relative lg:col-span-1">
        <!-- <img class="h-12 w-auto" src="https://tailwindui.com/img/logos/workcation-logo-white.svg" alt=""> -->
        <blockquote class="mt-6 text-light-100">
          <p class="text-xl sm:text-2xl">I think the truth is in order to get a good video you need to get skilled at understanding the fundamentals of shooting good video and when you get good at that, you can get a video out of a large variety of gear (...) I just think the barrier to entry shooting a good video is lower than ever before and that's kind of a win for everyone.</p>
          <footer class="mt-6">
            <p class="flex flex-col tracking-wide">
              <span class="font-semibold">Marques Brownlee</span>
              <span class="text-gray-400">YouTuber @MKBHD</span>
              <a href="https://youtu.be/_vIRVsJO21A?feature=shared&t=611" target="_blank" class="text-amber-500 hover:underline">Listen more <span aria-hidden="true">→</span></a>
            </p>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
