---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/learngraphy-landing/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={ Astro.generator } />

    <link rel="preload stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-std-dynamic-subset.min.css" />
    <link rel="preload stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-std-dynamic-subset.min.css" />

    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: Inkverse;
    src: url('/learngraphy-landing/fonts/Inkverse.woff2') format(woff2);
    font-display: swap;
  }

  html {
    @apply font-sans bg-dark-950 text-light-100;
  }

  button {
    background: none;
  }
</style>
